<div class="standard-wrapper">
    <header>
     <div>
       <h1>PLACEHOLDER TEXT</h1>
       <h2>Search For Products</h2>
     </div>
    <div class="header-form">
      <form action="/shop/1/">
        <input type="text" name="search" placeholder="Search">
        <button type="submit"></button>
      </form>
    </div>
   </header>
  </div>